.productfirstdiv{
    background-color: rgb(223, 229, 238) ;
    height: 30px;
}
.productfirstdiv h6{
    position: absolute;
    margin-left: 1300px;
    margin-top: 5px;
}
.productseconddiv{
    position: absolute;
    width: 900px;
    height: 400px;
 margin-left: 100px;
 margin-top: 20px;
    background-color: white;
}
.productseconddiv img{
    margin-left: -500px;
    margin-top: 25px;
    width: 350px;
    height: 350px;
}
.productseconddiv h1{
    font-family:fantasy;
    font-size: 2.5em; 
    line-height: 1.2em;
    margin-top: -300px;
    margin-left: 300px;
}
.productseconddiv p{
    margin-left: 250px;
    text-align: justify;
    margin-left: 420px;
    margin-top: 50px;
}
.bluediv{
    position: absolute;
    width: 10px;
    height: 40px;
    background-color: rgb(115, 115, 231);
    margin-left: 420px;
    margin-top: 80px;
}